.img-holder {
  border-radius: 1.4rem;
}
.img-holder-span,
.first-icon {
  border-radius: 6rem;
  padding-inline: 2.5rem;
  padding-block: 0.7rem;
  margin: 7px;
  animation: none !important;
}
.second-icon {
  border-radius: 6rem;
  padding-inline: 1.4rem;
  padding-block: 0.7rem;
}
.third-icon {
  border-radius: 7px;
  padding-inline: 1.4rem;
  padding-block: 0.8rem;
  margin: 12px;
}
button:disabled svg {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Base margin for normal zoom */
.product-section {
  margin-block: 6rem;
}

@media (-webkit-device-pixel-ratio: 1.1), (device-pixel-ratio: 1.1) {
  .product-section {
    margin-block: 9rem !important;
  }
}
@media (-webkit-device-pixel-ratio: 1.25), (device-pixel-ratio: 1.25) {
  .product-section {
    margin-block:12rem !important;
  }
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5) {
  .product-section {
    margin-block: 15rem !important; 
  }
}

/* Fallback: Adjust for smaller viewports (simulates zoom effect) */
@media screen and (max-width: 768px) {
  .product-section {
    margin-block: 3rem !important; /* Ensure spacing on smaller screens */
  }
}